/* .allevent-mask{
    width: 100%;
    height: 100%;
    position: relative;
} */

.allevent-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 90px;
    opacity: 0.5;
}

.allevent-mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.allevent-hero{
    height: 100%;
    width: 100%;
}

.common-content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    text-align: center;  
}

.common-content p{
    font-size: 7rem;
}

.common-content span{
    font-size: 6rem;
    color: white;
    opacity: 0.7;
    z-index: 10;
    font-family: "Aboreto", sans-serif;
    font-weight: 800;
}

/* media queries */

@media screen and (min-width: 1280px) and (max-width: 1320px){
    .common-content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
        text-align: center;
    }
    .common-content p{
        font-size: 5rem;
    }
    .common-content span{
        font-size: 4.5rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
    .common-content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
        text-align: center;
    }
    .common-content p{
        font-size: 4.5rem;
    }

    .common-content span{
        font-size: 4rem;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px){
    .common-content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 25%;
        left: 50%;
        text-align: center;
    }
    .common-content p{
        font-size: 4.3rem;
    }

    .common-content span{
        font-size: 3.7rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px){
    .common-content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 30%;
        left: 50%;
        text-align: center;
        
    }
    .common-content p{
        font-size: 3rem;
    }

    .common-content span{
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px){
    .common-content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 25%;
        left: 50%;
        text-align: center;
        
    }
    .common-content p{
        font-size: 2rem;
    }

    .common-content span{
        font-size: 2rem;
    }
}

@media screen and (min-width: 350px) and (max-width: 400px){
    .common-content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 30%;
        left: 50%;
        text-align: center;
    }
    .common-content p{
        font-size: 1.5rem;
    }
    .common-content span{
        font-size: 1.3rem;
    }
}


@media screen and (width <= 350px){
    .common-content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 20%;
        left: 50%;
        text-align: center;
    }
    .common-content p{
        font-size: 1.5rem;
    }
    .common-content span{
        font-size: 1.3rem;
    }
}